
<!DOCTYPE html><html lang="en"><head>
  <meta charset="UTF-8"><meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>@andresryes</title><meta content="" name="description"/><link rel="canonical" href=""/>
  <meta content="en_US" property="og:locale"/><meta content="profile" property="og:type">
  <meta property="og:title" content=""/>
  <meta property="og:description" content="Linktree. Make your link do more."/><meta property="og:url" content=""/>
  <meta content="Linktree" property="og:site_name"/><meta content="90" property="og:image:width">
  <meta content="90" property="og:image:height"><meta content="image/jpg" property="og:image:type">
  <meta property="og:image" content="https://d15mvavv27jnvy.cloudfront.net/eyW0j/0294014ceb8a01edf453dae81d765536.jpg"/>
  <meta property="og:image:secure_url" content="https://d15mvavv27jnvy.cloudfront.net/eyW0j/0294014ceb8a01edf453dae81d765536.jpg"/>
  <meta property="profile:username" content=""><meta content="" property="og:title"><meta content="summary" name="twitter:card"/>
  <meta name="twitter:title" content="@andresryes"/><meta name="twitter:description" content=""/>
  <meta content="" name="twitter:domain"/>
  <meta name="twitter:image" content="https://d15mvavv27jnvy.cloudfront.net/eyW0j/0294014ceb8a01edf453dae81d765536.jpg"/>
  <link href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/manifest.json" rel="manifest"><!--[if IE]><link rel="shortcut icon" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/favicon.ico"><![endif]-->
  <link rel="icon" type="image/png" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/favicon.png"/>
  <link rel="icon" type="image/png" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/favicon-96x96.png" sizes="96x96"/>
  <link rel="icon" type="image/png" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/favicon-16x16.png" sizes="16x16"/>
  <link rel="apple-touch-icon" sizes="180x180" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-180x180.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/apple-icon-57x57.png"/>
  <meta name="msapplication-square310x310logo" content="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/ms-icon-310x310.png"/>
  <meta name="msapplication-square150x150logo" content="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/ms-icon-150x150.png"/>
  <meta name="msapplication-square70x70logo" content="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/ms-icon-70x70.png"/>
  <meta name="msapplication-TileImage" content="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/favicon/ms-icon-144x144.png"/>
  <meta name="msapplication-TileColor" content="#FFFFFF"/><meta name="theme-color" content="#ffffff"/><meta content="d9fd170e8cf31c89537e" name="wot-verification">
  <meta content="211011856296014" property="fb:app_id"/><script>
        (function (H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement);
    </script><!-- Google Tag Manager --><script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N9PX6N');
    </script><!-- https://cdn.britannica.com/05/94905-050-1830515C/Whirlpool-Galaxy-NGC-5195-Sc.jpg End Google Tag Manager --><script src="https://www.datadoghq-browser-agent.com/datadog-logs-us.js" ></script><script>
        DD_LOGS.init({clientToken: 'pub3db8d3d428a9e7cfc73bf41abb7268cc', forwardErrorsToLogs: true});
    </script><link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/styles/main_551ebb8f46e4b42a5676d81439479ae9d22971af.css"><link rel="stylesheet" type="text/css" href="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/styles/service_551ebb8f46e4b42a5676d81439479ae9d22971af.css"><script src="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/scripts/vendor_551ebb8f46e4b42a5676d81439479ae9d22971af.js"></script><script src="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/scripts/main_551ebb8f46e4b42a5676d81439479ae9d22971af.js"></script></head><body class="    service theme
colourway-custom
" data-account="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet"><style>
                
</style><div class="service"><header class="service-header"></header><section class="main"><div class="container service-container"><div class="user-area"><div class="text-xs-center"><span class="img-circle"><img class="user-img" src="{{ url_for('static', filename=picture ) }}"/></span><h3><a class="user-name btn">
           {{name}}
           <br>@andresryes
        </a></h3>

    </div></div><div class="links"><div><div>
        {% for item in links %}
        <div class="link"><a href="{{item.get('link')}}" data-link-id="7910293" data-link-title="" data-link-url="{{item.get('link')}}" data-account-id="1037792" data-account-username="andresryes" class="btn btn-link   " target="_blank" rel="noopener">
            {{item.get('description')}}
        </a></div>
        {% endfor %}
        <div style="display:none">
scheduled
1
time
00:19:01
</div>
<div class="service"><header class="service-header"></header><section class="main"><div class="container service-container"><div class="user-area"><div class="text-xs-center"><h3><a class="user-name btn">
    {{shortbio}}
 </a></h3>
</div></div>
</div></div></div><div class="user-profile__social__links"><a href="{{social[0].get('link')}}" target="_blank" class="user-profile__social__links__item" class="user-profile__social__links__item"><svg class="user-profile__social-icon" viewBox="0 0 30 30"><path d="M16.108,8.215c-1.4,0-2.539,1.139-2.539,2.538v3.22h-1.715c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h1.715v6.312
c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-6.312h2.425c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5h-2.425v-3.22
c0-0.848,0.69-1.538,1.539-1.538c0.848,0,1.539,0.69,1.539,1.538c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5
C18.646,9.353,17.508,8.215,16.108,8.215z"/></svg></a><a href="{{social[1].get('link')}}" target="_blank" class="user-profile__social__links__item" class="user-profile__social__links__item"><svg class="user-profile__social-icon" viewBox="0 0 30 30"><path d="M12.254,22c-2.574,0-4.745-1.172-4.745-1.908c0-0.276,0.251-0.521,0.528-0.521c1.023,0,2.003-0.25,2.882-0.73
      c-0.951-0.444-2.103-1.336-2.906-2.625c-0.918-1.471-1.68-3.937-0.1-7.326c0.073-0.156,0.221-0.265,0.392-0.285
      c0.175-0.023,0.341,0.048,0.45,0.182c1.439,1.777,3.508,2.92,5.748,3.191c-0.003-0.064-0.005-0.131-0.005-0.196
      C14.497,9.696,16.182,8,18.255,8c0.961,0,1.892,0.375,2.586,1.036H22.5c0.169,0,0.328,0.086,0.419,0.229
      c0.092,0.142,0.106,0.321,0.037,0.476l-0.938,2.096c0.003,0.108,0.005,0.217,0.005,0.326C22.024,16.998,18.37,22,12.254,22z
      M9.417,20.437C10.069,20.723,11.027,21,12.254,21c5.49,0,8.77-4.493,8.77-8.838c0-0.136-0.003-0.27-0.009-0.403
      c-0.003-0.077,0.012-0.154,0.043-0.225l0.67-1.498h-1.096c-0.139,0-0.271-0.058-0.366-0.159C19.74,9.311,19.025,9,18.255,9
      c-1.521,0-2.758,1.248-2.758,2.781c0,0.219,0.024,0.432,0.071,0.634c0.036,0.153-0.002,0.314-0.103,0.435
      c-0.101,0.12-0.247,0.195-0.409,0.179c-2.481-0.125-4.822-1.208-6.539-3c-0.982,2.61-0.378,4.501,0.344,5.658
      c1.002,1.607,2.637,2.469,3.233,2.48c0.211,0.004,0.397,0.141,0.464,0.341c0.067,0.2,0.001,0.421-0.165,0.552
      C11.508,19.758,10.497,20.224,9.417,20.437z"/></svg></a><a href="{{social[2].get('link')}}" target="_blank" class="user-profile__social__links__item" class="user-profile__social__links__item"><svg class="user-profile__social-icon"  viewBox="0 0 30 30"><path d="M15,11c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S17.206,11,15,11z M15,18c-1.654,0-3-1.346-3-3s1.346-3,3-3
    s3,1.346,3,3S16.654,18,15,18z"/><path d="M19.271,10.174c-0.329,0-0.597,0.269-0.597,0.598s0.268,0.598,0.597,0.598s0.597-0.269,0.597-0.598
    S19.601,10.174,19.271,10.174z"/><path d="M19.156,7.5h-8.312C9,7.5,7.5,9,7.5,10.844v8.312C7.5,21,9,22.5,10.844,22.5h8.312C21,22.5,22.5,21,22.5,19.156v-8.312
    C22.5,9,21,7.5,19.156,7.5z M21.5,19.156c0,1.292-1.052,2.344-2.344,2.344h-8.312c-1.292,0-2.344-1.052-2.344-2.344v-8.312
    C8.5,9.552,9.552,8.5,10.844,8.5h8.312c1.292,0,2.344,1.052,2.344,2.344V19.156z"/></svg></a><a href="{{social[3].get('link')}}" target="_blank" class="user-profile__social__links__item" class="user-profile__social__links__item"><svg class="user-profile__social-icon" viewBox="0 0 30 30"><path d="M15,22.3c-0.2,0-5.4,0-6.8-0.4c-0.9-0.2-1.6-1-1.9-1.9c-0.4-1.4-0.4-4.1-0.4-4.3s0-2.9,0.4-4.3c0.2-0.9,1-1.6,1.9-1.9
      c1.4-0.4,6.6-0.4,6.8-0.4s5.4,0,6.8,0.4c0.9,0.2,1.6,1,1.9,1.9l0,0c0.4,1.4,0.4,4.1,0.4,4.3c0,0.1,0,2.9-0.4,4.3
      c-0.2,0.9-1,1.6-1.9,1.9C20.4,22.2,15.2,22.3,15,22.3z M15,10.2c-1.5,0-5.5,0.1-6.6,0.3c-0.6,0.2-1,0.6-1.2,1.2
      c-0.3,1.3-0.3,4-0.3,4s0,2.7,0.3,4c0.2,0.6,0.6,1,1.2,1.2c1,0.3,5.1,0.3,6.6,0.3s5.5-0.1,6.6-0.3c0.6-0.2,1-0.6,1.2-1.2
      c0.3-1.3,0.3-4,0.3-4s0-2.7-0.3-4c0,0,0,0,0,0c-0.2-0.6-0.6-1-1.2-1.2C20.5,10.3,16.5,10.2,15,10.2z M13.3,18.8
      c-0.1,0-0.2,0-0.2-0.1c-0.2-0.1-0.2-0.3-0.2-0.4v-5.1c0-0.2,0.1-0.3,0.2-0.4c0.2-0.1,0.3-0.1,0.5,0l4.5,2.6c0.2,0.1,0.2,0.3,0.2,0.4
      s-0.1,0.3-0.2,0.4l-4.5,2.6C13.5,18.8,13.4,18.8,13.3,18.8z M13.8,14v3.4l3-1.7L13.8,14z"/></svg></a></div></div></section><section class="service-footer"></section><div class="invisible" id="analytics" data-account-id="1037792" data-account-username="jamieoliver" data-is-owner="" data-is-verified="1"></div></div><!-- Google Tag Manager (noscript) --><noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-N9PX6N" style="display:none;visibility:hidden" width="0"></iframe></noscript><!-- End Google Tag Manager (noscript) --><script>
                    window.fbq = function () {}
    </script><script src="https://d1qr63pinnvtia.cloudfront.net/assets/551ebb8f46e4b42a5676d81439479ae9d22971af/scripts/service_551ebb8f46e4b42a5676d81439479ae9d22971af.js"></script><script>

window.linktree_data = {
    linktree_user_id: "0",            linktree_profile_username : "",
        linktree_profile_id : "1037792",
        profile_subscription : "pro",
        }

if (!window.dataLayer) {
    window.dataLayer = []
}

// Add tier to datalayer
window.dataLayer.push(window.linktree_data)

</script>

</body></html>